body{background-color: #000000;
padding: 40px;}
.box{width: 200px;
height: 200px;
background-color: black;
transition: background-color 1s,transform 1s;}
.box:hover{background-color: azure;
transform: scale(1.2);}